<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory | The Tech Writers Stack</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="mx-auto max-w-4xl pt-10 px-5">
        <h1 class="text-3xl pb-4">The Tech Writers Stack</h1>

        <span>
            The Directory below is a list of several newsletters and blogs about different
            technical topics. If you are a technical writer yourself
            and want to get featured, <a class="font-bold text-blue-700 hover:text-blue-400" href="https://techwriters.info/techwriters/join">join our community</a> on Substack.
        </span>

        <h2 class="text-2xl py-8">Directory</h2>
        <ul>
            {% for website in data %}
            <li class="pb-4 flex">
                <img src="{{ website.url }}/favicon.ico" class="flex-none w-16 h-16 mr-4 rounded">
                <span class="flex-initial">
                    <a class="font-bold text-blue-700 hover:text-blue-400" href="{{ website.url }}">{{ website.title }}</a>: {{ website.info }}
                </span>
            </li>
            {% endfor %}
        </ul>

        <h2 class="text-2xl py-8">Latest articles</h2>
        <ul class="pb-20">
            {% for article in latest %}
            <li class="pb-4 flex">
                <img src="{{ article.img }}" class="flex-none w-16 h-16 mr-4 rounded">
                <span class="flex-initial">
                    <a class="font-bold text-blue-700 hover:text-blue-400" href="{{ article.link }}">{{ article.title }}</a>: {{ article.description }}
                </span>
            </li>
            {% endfor %}
        </ul>

    </div>
</body>

</html>