<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory | The Tech Writers Stack</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="mx-auto max-w-4xl pt-10 px-5">
        <h1 class="text-3xl pb-4">The Tech Writers Stack</h1>


        <div class="mt-4">
            <a class="mx-auto bg-green-800 hover:bg-green-700 text-green-200 px-4 py-2 rounded text-lg" href="https://techwriters.info/techwriters/join">Join The Tech Writers Stack</a>
        </div>

        <h2 class="text-2xl mb-4 mt-8">Directory</h2>

        <div>
            The Directory below is a list of several newsletters and blogs about different
            technical topics. If you are a technical writer yourself
            and want to get featured, join our community on Substack.
        </div>

        {% if filters %}
        <div class="mt-2">
            <a class="mx-auto bg-green-200 hover:bg-green-300 text-green-800 px-2 py-1 text-sm rounded" href="/">❎ {{ filters }}</a>
        </div>
        {% endif %}

        <ul class="mt-8">
            {% for website in data %}
            <li class="mb-6 flex">
                <img src="{{ website.image_url }}" class="flex-none w-16 h-16 mr-4 rounded">
                <div class="flex-initial">
                    <div>
                        <a class="font-bold text-lg text-green-900 hover:text-green-700" href="{{ website.url }}">{{ website.title }}</a>
                    </div>
                    <div class="text-gray-800 my-2">
                        {{ website.info }}
                    </div>
                    <div>
                        {% for topic in website.topics %}
                        <a href="?filter={{ topic }}" class="text-green-900 bg-green-200 px-2 py-1 my-4 text-sm rounded">{{ topic }}</a>
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

        <h2 class="text-2xl py-8">Latest articles</h2>
        <ul class="pb-20">
            {% for article in latest %}
            <li class="pb-4 flex">
                <img src="{{ article.img }}" class="flex-none w-16 h-16 mr-4 rounded">
                <span class="flex-initial">
                    <a class="font-bold text-green-800 hover:text-green-700" href="{{ article.link }}">{{ article.title }}</a>
                    - {{ article.description }}
                    - <a href="article.site_url" class="text-green-800 hover:text-green-700">{{ article.author }}</a>.
                </span>
            </li>
            {% endfor %}
        </ul>

    </div>
</body>

</html>