<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory | The Tech Writers Stack</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="mx-auto max-w-3xl pt-10 px-5">
        <h1 class="text-3xl pb-4">The Tech Writers Stack</h1>

        <h2 class="text-2xl pb-4">Directory</h2>
        <ul>
            {% for website in data %}
            <li class="pb-2"><a class="font-bold text-blue-700 hover:text-blue-400" href="{{ website.url }}">{{ website.title }}</a>: {{ website.info }}</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>